<a href="https://colab.research.google.com/github/Zahra-Fathima-Suhesh/Business-Analytics-with-Python/blob/main/Python_with_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3
conn=sqlite3.connect('tesrt.db')
print("opened database succesfully")

opened database succesfully

In [5]:
import sqlite3

 
conn = sqlite3.connect('NeDB.db')
 
cursor = conn.cursor()


cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

X= '''CREATE TABLE IF NOT EXISTS projects (
	id integer PRIMARY KEY,
	name text NOT NULL,
	begin_date text,
	end_date text
); '''
conn.execute(X)
print("Table created")
 
conn.commit()

 
conn.close()

Table created

In [8]:
X = sqlite3.connect('NeDB.db')

Y = X.cursor()

Y.execute('''CREATE TABLE Employee(date text, First_Name text, Last_Name text, Age real)''')

Y.execute("INSERT INTO Employee VALUES ('2020-01-01','John','Adam',32)")
 
X.commit()

Y.close()

In [10]:
X = sqlite3.connect('NeDB.db')
 
Y = X.cursor()

Y.execute("INSERT INTO Employee VALUES ('2020-01-01','John','Adam',32),('2020-01-01','Mike','Joseph',30),('2020-01-01','Ann','Maria',32);")
 
X.commit()

Y.close()

In [11]:
import sqlite3
 
conn = sqlite3.connect('NewDB.db')

 
cursor = conn.cursor()

 
table ="""CREATE TABLE STUDENT(NAME VARCHAR(255), CLASS VARCHAR(255), SECTION VARCHAR(255));"""
cursor.execute(table)

students = [('John', '8', 'A'),
   ('Adam', '8', 'B'),
   ('Ann', '10', 'A'),
]

cursor.executemany('INSERT INTO STUDENT VALUES (?,?,?)', students)

print("Data Inserted in the table: ")
data=cursor.execute('''SELECT * FROM STUDENT''')
for row in data:
	print(row)


conn.commit()

conn.close()

Data Inserted in the table:
('John', '8', 'A')
('Adam', '8', 'B')
('Ann', '10', 'A')

In [12]:
import sqlite3
 
conn = sqlite3.connect('NewDB.db')
 
cursor = conn.cursor()

cursor.execute("SELECT * FROM STUDENT WHERE CLASS = '10'")

print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('Ann', '10', 'A')]

In [13]:
import sqlite3
 
conn = sqlite3.connect('NewDB.db')

 
cursor = conn.cursor()

cursor.execute("SELECT * FROM STUDENT WHERE NAME Like'A%'")

print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('Adam', '8', 'B'), ('Ann', '10', 'A')]

In [16]:
import sqlite3
 
conn = sqlite3.connect('NewDB.db')

cursor = conn.cursor()

cursor.execute("SELECT * FROM STUDENT WHERE NAME Like'A%'")

print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('Adam', '8', 'B'), ('Ann', '10', 'A')]