In [13]:
a=int(input("Enter the first number: "))

Enter the first number: 8

In [14]:
b=int(input("Enter the second number: "))

Enter the second number: 5

In [15]:
print(a+b)

13

In [16]:
print(a-b)

3

In [17]:
print(a*b)

40

In [20]:
print(a/b)

1.6

In [26]:
p=int(input("Enter the principal amount: "))

Enter the principal amount: 100000

In [27]:
n=int(input("Enter the number of years: "))

Enter the number of years: 5

In [31]:
r=int(input("Enter the rate of interest: "))/100

Enter the rate of interest: 8

In [32]:
i=p*n*r

In [33]:
print(i)

40000.0

In [37]:
x=int(input("Enter a number: "))

Enter a number: 99

In [38]:
if x>50:
    print("You are pass")
else:
    print("You are fail")

You are pass

In [40]:
sal=int(input("Enter your salary: "))
if sal>250000:
    print("You are taxable")
    t=sal*10/100
    print("Your tax =",t)
else:
    print("You are not taxable")

Enter your salary: 300000
You are taxable
Tax = 30000.0

In [42]:
sal=int(input("Enter your salary: "))
if sal>250000:
    print("You are taxable")
    t=sal-250000
    tax=t*10/100
    print("Your tax =",tax)
else:
    print("You are not taxable")

Enter your salary: 300000
You are taxable
Tax = 5000.0

In [44]:
sal=int(input("Enter your salary: "))
if sal>250000:
    print("You are taxable")
    if sal<500000:
        t=sal-250000
        tax=t*10/100
        print("Your tax =",tax)
    else:
        tax=sal*20/100
        print("Your tax =",tax)
else:
    print("You are not taxable")

Enter your salary: 800000
You are taxable
Your tax = 160000.0