<a href="https://colab.research.google.com/github/Zahra-Fathima-Suhesh/Business-Analytics-with-Python/blob/main/Python_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x="Zahra"
print(len(x))

5

In [4]:
x=["John","Mary","David","Adam"]
print(x)
print(type(x))

['John', 'Mary', 'David', 'Adam']
<class 'list'>

In [6]:
x=[9054,"Zahra",19,"30-08-2003","Kochi"]
print(x)

[9054, 'Zahra', 19, '30-08-2003', 'Kochi']

In [7]:
x[0]

9054

In [8]:
x[-1]

'Kochi'

In [9]:
x=[674,7463,9856,435,87,2657,58,1,83,4]
x[0:1]

[674]

In [11]:
x[-3:]

[1, 83, 4]

In [12]:
x[7:]

[1, 83, 4]

In [13]:
x=[674,7463,9856,435,87,2657,58,1,83,4]
x[0]=4
print(x)

[4, 7463, 9856, 435, 87, 2657, 58, 1, 83, 4]

In [15]:
x=[9054,"Zahra",19,"30-08-2003","Kochi"]
x[-1]="Rajagiri"
print(x)

[9054, 'Zahra', 19, '30-08-2003', 'Rajagiri']

In [18]:
x=[3,6,9,12]
x.append(69)
print(x)

[3, 6, 9, 12, 69]

In [20]:
x=[]
for i in range(4):
  a=input("Enter your name: ")
  x.append(a)
print(x)

Enter your name: Zahra
Enter your name: Fathima
Enter your name: Suhesh
Enter your name: Zara
['Zahra', 'Fathima', 'Suhesh', 'Zara']

In [23]:
x=[]
i=0
while i<4:
  a=input("Enter your name: ")
  x.append(a)
  i=i+1
print(x)

Enter your name: Zahra
Enter your name: Fathima
Enter your name: Suhesh
Enter your name: Zara
['Zahra', 'Fathima', 'Suhesh', 'Zara']

In [24]:
x=[674,7463,9856,435,87,2657,58,1,83,4]
y=x.copy()
print(y)

[674, 7463, 9856, 435, 87, 2657, 58, 1, 83, 4]

In [25]:
x=[674,7463,9856,435,87,2657,58,1,83,4]
y=["John","Mary","David","Adam"]
x.extend(y)
print(x)

[674, 7463, 9856, 435, 87, 2657, 58, 1, 83, 4, 'John', 'Mary', 'David', 'Adam']

In [28]:
x=[674,7463,9856,435,87,2657,58,1,83,4,"John","Mary","David","Adam",435,87,2657,58]
x.count(87)

2

In [30]:
x=["John","Mary","David","Adam"]
x[2:4]=["Harry","Louis"]
print(x)

['John', 'Mary', 'Harry', 'Louis']

In [32]:
x=["John","Mary","David","Adam"]
x.insert(2,"Louis")
print(x)

['John', 'Mary', 'Louis', 'David', 'Adam']

In [33]:
x=["John","Mary","David","Adam"]
x.remove("Mary")
print(x)

['John', 'David', 'Adam']

In [36]:
x=["John","Mary","David","Adam"]
del x[0]
del x[-1]
print(x)

['Mary', 'David']

In [37]:
x=["John","Mary","David","Adam"]
del x[0:2]
print(x)

['David', 'Adam']