<a href="https://colab.research.google.com/github/Zahra-Fathima-Suhesh/Business-Analytics-with-Python/blob/main/Python_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def Zahra():
  print("If you wanna fly, you have to give up the things that weigh you down")

In [2]:
Zahra()

If you wanna fly, you have to give up the things that weigh you down

In [3]:
def Zahra():
  print("Your roll number is",57)

In [4]:
Zahra()

Your roll number is 57

In [12]:
def Zahra(x):
  print("Your roll number is",x)

In [13]:
z=int(input("Enter your roll number: "))
Zahra(z)

Enter your roll number: 57
Your roll number is 57

In [17]:
def details():
  name=input("Enter your name: ")
  roll_no=int(input("Enter your roll number: "))
  email_id=input("Enter your email ID: ")
  place=input("Enter your place: ")
  print("\n")
  print("Your name is",name)
  print("Your roll number is",roll_no)
  print("Your email ID is",email_id)
  print("Your place is",place)

In [18]:
details()

Enter your name: Zahra
Enter your roll number: 57
Enter your email ID: m1ca239@rajagiri.edu
Enter your place: Ernakulam


Your name is Zahra
Your roll number is 57
Your email ID is m1ca239@rajagiri.edu
Your place is Ernakulam

In [30]:
x=input("Enter your full name: ")
a=x.split(" ",1)
def name1():
  fname=a[0]
  print("Your first name is",fname)
def name2():
  sname=a[1]
  print("Your second name is",sname)

Enter your full name: Zahra Fathima Suhesh

In [31]:
name1()
name2()

Your first name is Zahra
Your second name is Fathima Suhesh

In [32]:
def sawp(n,n1):
  temp=n
  n=n1
  n1=temp
  print("swap no",n)
  print("swap no",n1)

In [33]:
n=input("enter number: ")
n1=input("enter number: ")

enter number: 50
enter number: 10

In [35]:
sawp(n,n1)

swap no 10
swap no 50