<a href="https://colab.research.google.com/github/Zahra-Fathima-Suhesh/Business-Analytics-with-Python/blob/main/Python_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [ ]:
x="This is 'Python' programming"
print(x)

This is 'Python' programming

In [ ]:
x='This is "Python" programming'
print(x)

This is "Python" programming

In [ ]:
print("\"Zahra\" Fathima Suhesh")

"Zahra" Fathima Suhesh

In [ ]:
print("He's a doctor")

He's a doctor

In [ ]:
print("Zahra Fathima \n Suhesh")

Zahra Fathima
 Suhesh

In [ ]:
x=["John","Mary","David","Adam"]
x.insert(2,"James")
print(x)

['John', 'Mary', 'James', 'David', 'Adam']

In [27]:
x=["John","Mary","David","Adam"]
a=input("Enter your name: ")
b=int(input("Enter index: "))
x.insert(b,a)
print(x)

Enter your name: zahra
Enter index: 2
['John', 'Mary', 'zahra', 'David', 'Adam']

In [28]:
def Zahra():
  a=int(input("Enter index: "))
  b=input("Enter a name: ")
  x.insert(a,b)
  print(x)

In [30]:
Zahra()

Enter index: 1
Enter a name: Fathima
['John', 'Fathima', 'Mary', 'zahra', 'David', 'Adam']

In [31]:
def Zahra1():
  x=int(input("Enter Number: "))
  y=int(input("Enter a Number: "))
  print(x+y)
  print(x*y)
  print(x/y)
  print(x-y)

In [32]:
Zahra1()

Enter Number: 10
Enter a Number: 20
30
200
0.5
-10

In [33]:
def math(a,b):
  print(a+b)

In [36]:
x=int(input("Enter first value: "))
y=int(input("Enter second value: "))
a=x
b=y
math(a,b)

Enter first value: 10
Enter second value: 12
22

In [37]:
def ann():
  x=int(input("Enter Number: "))
  y=int(input("Enter a Number: "))
  print(x+y)
  print(x*y)
  print(x/y)

In [38]:
ann()

Enter Number: 55
Enter a Number: 11
66
605
5.0
44

In [39]:
def ann1():
   print(x+y)

In [40]:
def ann2():
  print(x*y)

In [41]:
def ann3():
  print(x/y)

In [51]:
def ann4():
  print(x-y)

In [47]:
ann1()

22

In [48]:
ann2()

120

In [49]:
ann3()

0.8333333333333334

In [52]:
ann4()

-2