<a href="https://colab.research.google.com/github/Zahra-Fathima-Suhesh/Business-Analytics-with-Python/blob/main/Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hra=int(input("Enter the actual HRA received from the employer per month: "))
ar=int(input("Enter the actual monthly rent paid by the employee: "))
s=int(input("Enter the salary earned per month: "))
r1=hra*12
r2=ar*12-((s*12)*10/100)
r3=(s*12)*50/100
a=[r1,r2,r3]
z=min(a)
print("You are eligible for a HRA excemption of Rs.",z)

In [ ]:
if z<150000:
  sal=(s*12)+r1-z
else:
  sal=(s*12)+r1-150000

if sal>250000 and sal<=500000:
  x=sal-250000
  tax=x*5/100
  print("You are taxable of Rs.",tax)

elif sal>500000 and sal<=750000:
  x=sal-500000
  t1=(x*10/100)
  t2=(500000-250000)*5/100
  tax=t1+t2
  print("You are taxable of Rs.",tax)

elif sal>750000 and sal<=1000000:
  x=sal-750000
  t1=(x*15/100)
  t2=(500000-250000)*5/100
  t3=(750000-500000)*10/100
  tax=t1+t2+t3
  print("You are taxable of Rs.",tax)

elif sal>1000000 and sal<=1250000:
  x=sal-1000000
  t1=(x*20/100)
  t2=(500000-250000)*5/100
  t3=(750000-500000)*10/100
  t4=(1000000-750000)*15/100
  tax=t1+t2+t3+t4
  print("You are taxable of Rs.",tax)

elif sal>1250000 and sal<=1500000:
  x=sal-1250000
  t1=(x*25/100)
  t2=(500000-250000)*5/100
  t3=(750000-500000)*10/100
  t4=(1000000-750000)*15/100
  t5=(1250000-1000000)*20/100
  tax=t1+t2+t3+t4+t5
  print("You are taxable of Rs.",tax)

elif sal>1500000:
  x=sal-1500000
  t1=(x*30/100)
  t2=(500000-250000)*5/100
  t3=(750000-500000)*10/100
  t4=(1000000-750000)*15/100
  t5=(1250000-1000000)*20/100
  t6=(1500000-1250000)*25/100
  tax=t1+t2+t3+t4+t5+t6
  print("You are taxable of Rs.",tax)

else:
  print("You are not taxable")